<div id="aboutModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h5>About</h5>
        <p>This is a IBM AP IGA TST Megabot can help running BI central report automatically, accompanying the <a href="https://www.ibm.com/watson/">AI platform IBM Watson</a>, hosted on <a href="https://www.ibm.com/cloud/">IBM Cloud</a>.</p>
        <p>TST Chatbot is the sample to use Watson Consersation API to interact with computer by human language, TST Chatbot will guide you to fix the technical issues which you used to send request to TST function ID.</p>
        <h5>Terms of Service</h5>
        <ul>
            <li>Text or Excel that you upload will not be stored.</li>
        </ul>
        <h5>Acknowledgments</h5>
        <ul>
            <li>We use <a href="http:flask.pocoo.org">Flask</a> as the Web framework.</li>
            <li><a href="http://www.seleniumhq.org/">Selenium</a> serves as our Web browser automation.</li>
        </ul>
    </div>
    <div class="modal-footer">
    </div>
</div>
<script type="text/javascript">
</script>
